@font-face {
    font-family: Poppins;
    src: url(./font/Poppins-Regular.ttf);
}

body {
    font-family: Poppins;
    margin: 0;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 35px;
    z-index: 100;
}

/* .navbar {
    display: flex;
    align-items: center;
} */


.navbar-left {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar-middle ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.navbar-middle li {
    margin-right: 10px;
}

.navbar-middle li a {
    text-decoration: none;
    color: inherit;
  }

.navbaricon {
    width: 45px;
    margin-right: 10px;
    margin-left: 5px;
}


.welcome-section    {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
}


.welcome-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome {
    align-items: center;
    text-align: center;
}


.frontpagepic {
    display: block;
    margin: 0 auto;
}


.discord-logo,
.guilded-logo   {
    width: 600px;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 25px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    text-align: center; /* Center text in the footer */
}